.red {
    color: red;
}

.blue {
    color: blue;
}

p {
    transition: color 1s;
}

.spoiler-content {
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s;
}

.spoiler-content.visible {
    display: inline;
    width: auto;
    height: auto;
    opacity: 1;
}